.login {
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
  
    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 40px;
      width: 100%;
      margin: 0px 13%;
      max-width: 450px;
  
    }
  
    .socials {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
      justify-content: center;
      .icon {
        border-radius: 100px;
        padding: 15px;
        border: 0.75px solid #999999;
        box-sizing: content-box;
      }
    }
  }
  
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 100%;
    background: linear-gradient(
      144.19deg,
      rgba(224, 30, 53, 0.8) 26.81%,
      rgba(255, 122, 0, 0.8) 178.54%
    );
  
    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 40px;
      width: 100%;
      margin: 0px 13%;
      max-width: 450px;
    }
  }
  
  
  .custom-checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    padding: 2px;
    transition: opacity 0.3s;
  
  
    .tick-icon {
      opacity: 0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #000;
      transition: opacity 0.3s;
      &.checked {
        opacity: 1;
      }
    }
  }
  
}