.AuthenticatedRoot {
  header {
    display: flex;
    justify-content: space-between;
    background-color: var(--whiteColor);
    padding: 20px 2%;
    max-height: 80px;
    flex-wrap: wrap;
// background-color: red !important;
    // background-color: aqua !important;
    h1 {
      width: -webkit-fill-available;
    }

    .column {
      flex-basis: 15%; /* Set the width of each column to 25% */
      box-sizing: border-box;

      &.icon-box {
        flex-basis: 17% !important;
      }

      &.space {
        flex-basis: 15% !important;
      }

      &.search-field {
        flex-basis: 30% !important;
      }
      &.settings {
        flex-basis: 10% !important;
      }
    }
  }

  .main-layout {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 28px;
    column-gap: 28px;
    padding-right: 24px;

    .sidebar {
      flex-basis: 18.61111111111111%;
      background-color: #fff;
    }
    .main-content {
      flex-basis: 81.388888889%;
      background-color: #fff;
    }
  }
}
